.login-form {
    background: #f4f4f4;
    padding: 30spx;
    border-radius: 10px;
    width: 20vw;
    font-family: Arial, Helvetica, sans-serif;
}

.input-group {
     margin-bottom: 15px; /*coloca um espaço de 15 entre os campos */
     display: flex;
     flex-direction: column; /*coloca a label em cima do input */

}

.input-group label {
    font-weight: 700;
    margin-bottom:5px;
    color: #333;
}

.input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
     width: 100%; /* ocupa a largura total do form */
     padding: 10px; /*distancia do texto para a borda do botão*/
     background: #007bff;
     color: #fff;
     border: none;
     border-radius: 5px;
     font-weight: 700;
     cursor: pointer;
} 