<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="github.com/aliceamaoliveira">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aba</title>
</head>
<body>
    <!-- eu sou um comentário -->
     <marquee bgColor="red" direction="up">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, qui?</marquee>
     <marquee bgColor="yellow" direction="down">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, explicabo.</marquee>
     <marquee bgColor="pink" direction="right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, fuga?</marquee>
     <marquee bgColor="blue" direction="left">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus, ipsum!</marquee>
</body>
</html>sss